{% extends 'base.html' %}

{% block main %}

<img src="https://img.freepik.com/vecteurs-libre/enfants-heureux-vont-ecole-isole-fond-blanc-vector-illustration_83111-2215.jpg" alt="">
    {% if admin %}
    <h1>File Upload</h1>
        <form method="POST" action="" enctype="multipart/form-data">
          <p><input type="file" name="file"></p>
          <p><input type="submit" value="Submit"></p>
        </form>
    {% endif %}
        {% for file in files %}
        <hr>
          <a href="{{ url_for('upload', filename=file) }}">{{file}}</a>
        {% endfor %}
{% block number %} {% endblock %}

{% endblock %}

