{% extends 'base.html' %}

{% block main %}

  <div class="p-4 p-md-5 mb-4 text-light rounded bg-info">
    <div class="col-md-6 px-0">
      <h1 class="display-10 fst-italic">Учитель английского языка Макарова-Кнышевская Елена Павловна</h1>
      <p class="lead my-3">Сайт создан для коллег, учеников и всех любознательных детей, а так же их родителей.</p>
    </div>
  </div>
  
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-10">Какую пользу приносит изучение иностранных языков?</h3>
          <a href="/Readen" class="/Readen">Read on English</a>
          <a href="/Readru" class="/Readru">Читать на русском</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row g-5">
    <div class="col-md-8">

      <article class="blog-post">
        <h2 class="blog-post-title">Обо мне:</h2>

        <p>На базе высшего образования прошла переквалификацию на учителя английского языка. Нахожусь в непрерывном повышении уровня знаний посредством семинаров, конференций, курсов, личных публикаций и выступлений.</p>
        <p>Обучение базирую на применении методик наглядно-образного и критического мышления, различных практик языка, ситуативных приёмах, играх. Использую межпредметные связи, развиваю логику и анализ.</p>
        <p>Помимо традиционного обучения в общеобразовательной школе имею широкий опыт преподавания как в кадетских, спортивных классах, так и однополых классах. А также веду индивидуальное и дистанционное обучение с применение множества интерактивных средств.</p>
        <p>Работаю с многонациональными коллективами и детьми с особенностями развития. Готовлю к экзаменам формата ОГЭ и ЕГЭ. Использую уникальную технику быстрому обучению чтению.</p>
        <p>Предприимчивый активный коммуникабельный человек. Увлекаюсь спортом, чтением, искусством и историей.</p>
        <p>Рада приветствовать учащихся и родителей, коллег и случайных посетителей. Надеюсь, каждый найдёт для себя полезную информацию.</p>
      </article>
    </div>
  </div>

{% endblock %}
