{% extends 'base.html' %}


{% block main %}
<div class="p-4 p-md-5 mb-4 text-none rounded bg-light">
  <div class="col-md-6 px-0">
    <h1 class="text-info">15 причин, по которым дети должны изучать иностранный язык</h1>

    <h3 class="text-info">1. Вы можете поговорить с большим количеством людей</h3>
    <p class="mb-auto">В конце концов, разве не поэтому большинство людей изучают второй язык? Когда вы можете говорить с людьми на их родном языке, вы углубляете связи и понимание. Изучайте иностранный язык в детстве, и у вас будет целая жизнь, чтобы извлечь выгоду из межкультурной дружбы, более широких карьерных возможностей, захватывающих путешествий и более глубокого понимания того, как другие видят мир.</p>

    <p class="mb-auto">Изучайте мандарин, и вы сможете общаться с более чем миллиардом людей по всему миру. Изучайте хинди, и вы сможете поговорить еще с 650 миллионами человек. Испанский дает вам еще около 420 миллионов. Если вы уже говорите по-английски, вы почти сможете говорить с половиной населения мира!</p>

    <p class="mb-auto">В то время как английский язык стал лингва-франка мира, изучение иностранного языка (или двух) увеличивает возможности для связи и открывает двери для многих преимуществ двуязычия. </p>


    <h3 class="text-info">2. Это развивает мозг детей</h3>
    <p class="mb-auto">Исследования показали, что двуязычные люди лучше справляются с задачами, требующими многозадачности и сосредоточения внимания, чем монолингвы. Сканирование мозга показывает, что у них больше серого вещества в областях мозга, которые участвуют в исполнительной функции. Гипотеза заключается в том, что усилия по постоянному выбору правильного языка в нужное время обеспечивают «психическую гимнастику» для двуязычников, что дает им дополнительную практику в сосредоточении внимания.<p>

    <p class="mb-auto">Эти преимущества появляются рано - новые исследования показывают, что даже дети в возрасте до года, которые подвергаются воздействию нескольких языков, демонстрируют разные когнитивные модели в своем мозгу по сравнению с одноязычными. На самом деле, некоторые исследователи утверждают, что лучший способ иметь более умных детей - это познакомить их с несколькими языками, когда они молоды.</p>


    <h3 class="text-info">3. Это повышает результаты тестов по основным предметам</h3>
    <p class="mb-auto">Исследования десятков тысяч старшеклассников показали, что студенты, изучающие иностранные языки, лучше справляются с тестом Американского колледжа (ACT) по английскому языку и математике. Дополнительные исследования показали, что баллы SAT-вербальные улучшаются с течением времени, в течением времени студентами изучающими иностранный язык. Поэтому, если вы хотите, чтобы ваш ребенок сдал эти тесты, попросите его выучить иностранный язык.</p>


    <h3 class="text-info">4. Это повышает способности детей на их родном языке</h3>
    <p class="mb-auto">Много лет назад люди верили, что изучение второго языка сведет ребенка с толку. Теперь исследования показывают, что дети, изучающие иностранный язык, лучше говорят на своем родном языке, чем недвуязычные студенты, что измеряется на стандартизированных тестах. Другие исследования показали, что дети, изучающие второй язык, начинают читать раньше, и преимущество увеличивается, чем раньше они познакомятся со вторым языком. Кроме того, двуязычные дети лучше распознают грамматически неправильные предложения, чем одноязычные. Как сказал Гёте: "Те, кто ничего не знает об иностранных языках, ничего не знают о своих собственных".</p>


    <h3 class="text-info">5. В детстве легче изучать иностранные языки</h3>
    <p class="mb-auto">Мы все слышали, как детей описывают как "губки" для изучения языка. Исследования показывают, что существует "критический период" для усвоения языка, когда ваш мозг готов к обучению. После полового созревания наши способности к усвоению второго языка снижаются.</p>

    <p class="mb-auto">Исследование, проведенное доктором Патриция Куль из Института обучения и наук о мозге Вашингтонского университета показывает, что к 8-12 месяцам дети начинают фокусироваться на звуках, которые происходят на их родном языке, и теряют свое «ухло» из-за звуков на других языках. Однако, если дети подвергаются воздействию второго языка, они сохраняют способность различать эти иностранные звуки.</p>

    <p class="mb-auto">В возрасте 7 или 8 лет дети могут научиться говорить на втором языке со свободной грамматикой и без акцента. После этого критического периода способность овладеть иностранным языком постепенно снижается.</p>

    <p class="mb-auto">И как только вы выучите один иностранный язык, становится легче выучить другие. Поэтому, если вы хотите, чтобы ваши дети овладев иностранным языком, начиная с раннего возраста, это проще.</p>


    <h3 class="text-info">6. Это повышает эмпатию</h3>
    <p class="mb-auto">Доктор Кэтрин Кинцлер из Корнеллского университета проверила одноязычных и двуязычных детей на задачу, которая требовала от них рассмотрения чьей-то точки зрения, чтобы понять ее смысл. Дети в двуязычной среде справились лучше, чем одноязычные дети. Как доктор Кинцлер объясняет: «дети в многоязычной среде имеют социальный опыт, который обеспечивает рутинную практику при рассмотрении точек зрения других: они должны думать о том, кто говорит на каком языке, кто понимает, какое содержание, а также о времени и местах, в которых говорят на разных языках».</p>


    <h3 class="text-info">7. Это помогает предотвратить возрастной когнитивный спад</h3>
    <p class="mb-auto">Некоторые исследования показали, что люди, которые регулярно говорят на втором языке, могут задержать болезнь Альцгеймера и другие виды деменции на 4,5 года. Гипотеза заключается в том, что, улучшая исполнительную функцию мозга, двуязычные развивают «когнитивный резерв», который помогает задержать симптомы деменции.</p>


    <h3 class="text-info">8. Это способствует межкультурному взаимопониманию</h3>
    <p class="mb-auto">Поскольку 7 миллиардов человек живут на единственной известной обитаемой планете во Вселенной, важно, чтобы мы ладили. И, как скажет вам любой терапевт по отношениям, чтобы ладить, хорошее общение является ключевым. Это становится намного проще, если, как минимум, вы можете понять язык друг друга.</p>

    <p class="mb-auto">Но изучение иностранного языка - это более мощный удар. Язык и культура настолько переплетены, что изучение иностранного языка укрепляет культурное понимание и дает глубокое представление о том, как другие люди видят мир. Лингвистические релятивисты утверждают, что то, как мы видим мир, определяется языком, который мы используем.</p>

    <p class="mb-auto">Исследования даже показали, что один и тот же человек может иметь разные ответы на вопросы в зависимости от языка, на котором задается вопрос!</p>

    <p class="mb-auto">Разные языки могут построить ваш мозг по-разному. В некоторых языках географические координаты - север, юг, восток и запад - используются для описания местоположения чего-либо, никогда не субъективных терминов, таких как левый и правый. Неудивительно, что носители этих языков обладают исключительными пространственными навигационными способностями.</p>

    <p class="mb-auto">Изучение языков дает представление о культурных традициях, которые помогли сформировать язык. Например, в китайском языке есть разные слова для родственников в зависимости от того, находятся ли они на стороне матери или отца и их порядка рождения. Почему? Исторически в Китае это передавало важную информацию о социальном статусе человека.</p>

    <p class="mb-auto">Поэтому, если ладить действительно зависит от способности поставить себя на место других людей, умение говорить на их языке помогает нам глубже понять, как другие видят мир.</p>


    <h3 class="text-info">9. Это помогает тренировать ухо ребенка к музыке</h3>
    <p class="mb-auto">Исследования показали, что носители тональных языков, таких как мандаринский и кантонский, лучше идентифицировали музыкальные тона, чем носители нетональных языков, таких как английский и французский.</p>

    <p class="mb-auto">В тональных языках слово может иметь разные значения в зависимости от высоты тона и перегиба голоса. Что произойдет, если вы не обратите внимание на тон по-китайски? Скажи "ма" с высоким тоном, и ты сказал "мать". Скажите это падающим, а затем поднимающимся тоном, и вы сказали "лошадь". Лучше не путать эти два слова.</p>


    <h3 class="text-info">10. Это расширяет карьерные возможности</h3>
    <p class="mb-auto">Языковое образование имеет решающее значение для рабочей силы будущего, и двуязычие может расширить возможности карьерного роста. Многие рабочие места в сфере образования, здравоохранения, социальной работы, национальной безопасности, перевода, туризма и международного бизнеса требуют или благоприятствуют кандидатам, которые являются двуязычными, что приводит к увеличению возможностей трудоустройства для тех, кто может говорить на втором языке. А разговор на иностранном языке может облегчить получение права на работу, стажировки и программы работы и учебы в других странах, особенно если у вас есть критические навыки.</p>


    <h3 class="text-info">11. Это повышает зарплаты</h3>
    <p class="mb-auto">Экономист Массачусетского технологического института Альберт Саиз подсчитал, что для выпускников американских колледжей, которые могут говорить на втором языке, взимается 2% по сравнению с теми, кто не может. Повышение заработной платы варьируется в зависимости от языка - для тех, кто говорит по-немецки, это 3,8%. При усложнении это может превратиться в более чем 100 000 долларов США в течение карьеры. Неплохо!</p>


    <h3 class="text-info">12. Это делает путешествия веселее</h3>
    <p class="mb-auto">Международные путешествия - это удивительный способ расширить перспективы детей и помочь им испытать разнообразие и красоту мира из первых рук. Возможность говорить на языке страны, которую они посещают, открывает возможность более глубоких связей и понимания. И большинство иностранцев оценят усилия, которые прилагают ваши дети, даже если они еще не бегло говорят. Использование их языковых навыков в "реальной жизни" также может стать стимулом для мотивации детей.</p>

    <p class="mb-auto">Есть что-то особенное в том, чтобы наблюдать, как дети используют свои языковые навыки для развития межкультурной дружбы. Будь то использование испанского языка на пляже в Мексике для строительства замков с вновь обретенными друзьями или разговор с местными жителями на мандарине во время поездки на поезде из Пекина в Шанхай - разговор на языке дает доступ к опыту, которого у них в противном случае не было бы - и создает воспоминания на всю жизнь. Изучение иностранного языка в детстве дает им всю жизнь, чтобы извлечь выгоду из более обогащающего опыта путешествий.</p>

    <p class="mb-auto">Для старшеклассников и университетов обучение за рубежом может стать отличным способом углубить навыки владения иностранным языком. Государственный департамент США даже предлагает некоторые стипендии.</p>

    <p class="mb-auto">Какие языки предлагают наибольший пробег, когда дело доходит до путешествий? После английского языка в большинстве стран говорят на арабском, французском, китайском и испанском языках. Конечно, путешественникам не нужно говорить на языке каждой страны, которую они посещают, но свободное владение вторым языком облегчает выбор других языков. Даже зная такие основы, как привет, пожалуйста, и спасибо, вы можете пройти долгий путь, чтобы сделать поездку более волшебной..</p>


    <h3 class="text-info">13. Это может связать детей с их наследием</h3>
    <p class="mb-auto">Большая причина, по которой многие родители хотят, чтобы их дети изучали иностранный язык, заключается в том, чтобы они могли говорить с членами семьи на своем родном языке. Изучение языка может не только улучшить общение, но и поставляется с большим количеством культурного понимания, которое может помочь детям оценить точку зрения своей семьи.</p>

    <p class="mb-auto">В то время как многие родители стремятся к родственникам, чтобы помочь научить детей их родному языку, оказывается, что это может быть проблемой. По мере того, как дети становятся старше, они часто учатся, что им может сойти с рук говорить по-английски, а родственники часто отдают предпочтение пониманию, а не преподаванию. В результате уровень языковых языковых языковых уровней часто будет плато, если они также не получат формальное образование по языку.</p>

    <p class="mb-auto">В последнее время явные потребности и возможности для изучающих язык наследия были горячей темой для исследователей языкового образования, при этом многие исследования показывают эффективность программ погружения на двойные языки. Быть изучающим язык наследия - это отличная возможность, и языковые классы, адаптированные к их потребностям, могут помочь им достичь полного свободного владения языком.</p>


    <h3 class="text-info">14. Это может увеличить нестандартное мышление</h3>
    <p class="mb-auto">Многое было написано о том, сколько рабочих мест в будущем будет автоматизировано - задачи, требующие изобретательности и творчества, будут оставлены на усмотрение людей. Как же тогда развить навыки творческого мышления у детей? Один из удивительных способов - это изучение второго языка. Несколько исследований продемонстрировали большую креативность и навыки решения проблем среди двуязычных.</p>

    <p class="mb-auto">Изучение иностранного языка помогает детям увидеть мир через разные точки зрения. Способность учитывать несколько точек зрения на проблему является краеугольным камнем творческого решения проблем.</p>


    <h3 class="text-info">15. Это весело!</h3>
    <p class="mb-auto">Конечно, есть радость, которая исходит от возможности говорить с другими на их родном языке, не говоря уже о чувстве достижения. Но часть удовольствия от изучения иностранного языка заключается в обнаружении различий в том, как люди смотрят на мир. Забавно думать о том, почему собаки говорят "woof" по-английски, "wang wang" на китайском и "guau" на испанском. Какое правильное слово? Собаки не говорят.</p>

    <p class="mb-auto">Также интересно открывать слова на иностранном языке, которых нет на вашем родном языке. Возьмите тагальское слово "гигил", что означает "неотразимое желание ущипнуть/сжать кого-то, потому что его любят или лелеют". Разве на каждом языке не должно быть это слово?</p>
  </div>
</div>

{% endblock %}
