{% extends 'base.html' %}


{% block main %}
<div class="p-4 p-md-5 mb-4 text-none rounded bg-light">
  <div class="col-md-6 px-0">
    <h1 class="text-info">15 Reasons for Kids to Learn a Foreign Language</h1>

    <h3 class="text-info">1. You can speak to more people</h3>
    <p class="mb-auto">At the end of the day, isn’t this why most people learn a second language? When you can speak to people in their own language you deepen connections and understanding. Learn a foreign language as a child and you have a lifetime to benefit from cross-cultural friendships, broader career opportunities, exciting travel adventures and deeper insights into how others see the world.</p>

    <p class="mb-auto">Learn Mandarin and you can speak with more than a billion people worldwide. Learn Hindi and you can speak to another 650 million people. Spanish gets you approximately another 420 million. If you already speak English, you would almost be able to speak to half the world’s population!</p>

    <p class="mb-auto">While English has become the lingua franca of the world, learning a foreign language (or two) increases opportunities for connection and opens to the door to the many benefits of bilingualism. </p>


    <h3 class="text-info">2. It grows kids’ brains</h3>
    <p class="mb-auto">Studies have shown that people who are bilingual are better at tasks that require multi-tasking and attention focusing than monolinguals. Brain scans show they have more gray matter in the regions of their brain that are involved in executive function. The hypothesis is that the effort to constantly choose the right language at the right time provides a “mental gymnastics” for bilinguals which gives them extra practice in focusing their attention.

    <p class="mb-auto">These benefits show up early – new research shows that even babies less than a year old who are exposed to multiple languages show different cognitive patterns in their brain compared to monolinguals. In fact, some researchers argue that the best way to have smarter kids is to expose them to multiple languages when they are young.</p>


    <h3 class="text-info">3. It boosts test scores in core subjects</h3>
    <p class="mb-auto">Studies of tens of thousands of high school students have found that students who have studied foreign languages perform better on the American College Test (ACT) for English and Mathematics. Additional studies have found that SAT-verbal scores improve with the length of time students have studied the foreign language. So if you want your child to ace those tests, encourage her to learn a foreign language.</p>


    <h3 class="text-info">4. It boosts kids’ abilities in their native language</h3>
    <p class="mb-auto">Years ago people believed that learning a second language would confuse a child. Now, research shows that children who study a foreign language perform better in their native language than non-bilingual students, as measured on standardized tests. Other research has shown that children learning a second language start reading earlier, and the advantage increases the earlier they are exposed to the second language. In addition, bilingual children were better at identifying grammatically incorrect sentences than monolinguals. As Goethe said, “Those who know nothing of foreign languages know nothing of their own.”</p>


    <h3 class="text-info">5. It’s easier to acquire foreign languages as a child</h3>
    <p class="mb-auto">We’ve all heard babies described as “sponges” for learning language. Research shows that there is “critical period” for language acquisition, when your brain is primed to learn. Post-puberty our aptitude for second language acquisition is reduced.</p>

    <p class="mb-auto">Research conducted by Dr. Patricia Kuhl at the Institute for Learning and Brain Sciences at the University of Washington shows that by 8-12 months, babies are starting to focus in on the sounds that occur in their native language, and are losing their “ear” for sounds in other languages. However, if the babies are exposed to a second language they retain the ability to distinguish those foreign sounds.</p>

    <p class="mb-auto">Through the age of 7 or 8, children can learn to speak a second language with fluent grammar and without an accent. After this critical period the ability to master a foreign language gradually declines.</p>

    <p class="mb-auto">And once you’ve learned one foreign language, it gets easier to learn others. So if you want your children to master a foreign language starting as young as possible makes it easier.</p>


    <h3 class="text-info">6. It boosts empathy</h3>
    <p class="mb-auto">Dr. Katherine Kinzler, at Cornell University, tested monolingual and bilingual children on a task which required them to consider someone else’s perspective to understand her meaning. Children in bilingual environments performed better than monolingual children. As Dr. Kinzler explains, “children in multilingual environments have social experiences that provide routine practice in considering the perspectives of others: they have to think about who speaks which language to whom, who understands which content, and the times and places in which different languages are spoken.”</p>


    <h3 class="text-info">7. It helps prevent age-related cognitive decline</h3>
    <p class="mb-auto">Some studies have shown that people who regularly speak a second language may be able to delay Alzheimer’s disease and other types of dementia by 4.5 years. The hypothesis is that by improving the executive function of the brain, bilinguals develop a “cognitive reserve” which helps delay symptoms of dementia.</p>


    <h3 class="text-info">8. It boosts cross-cultural understanding</h3>
    <p class="mb-auto">With 7 billion people living on the only known inhabited planet in the universe, it’s important we get along. And as any relationship therapist will tell you, to get along, good communication is key. That gets a lot easier if, at a minimum, you can understand each other’s language.</p>

    <p class="mb-auto">But learning a foreign language packs a more powerful punch. Language and culture are so intertwined that learning a foreign language both builds cultural understanding and provides deep insights into how other people see the world. Linguistic relativists argue the way we see the world is shaped by the language we use.</p>

    <p class="mb-auto">Research has even shown that the same person may have different responses to questions depending on the language the question is asked in!</p>

    <p class="mb-auto">Different languages can build your brain in different ways. In some languages, geographic coordinates – north, south, east and west – are used to describe the location of something, never subjective terms like left and right. Not surprisingly, speakers of those languages have exceptional spatial navigation abilities.</p>

    <p class="mb-auto">Learning languages provides a view into cultural traditions that helped shape a language. For example, in Chinese there are different words for relatives depending on whether they are on the mother or father’s side and their birth order. Why? Historically in China this conveyed important information about a person’s social status.</p>

    <p class="mb-auto">So if getting along really depends on being able to put ourselves in other peoples’ shoes, being able to speak their language helps us more deeply understand how others see the world.</p>


    <h3 class="text-info">9. It helps train a child’s ear for music</h3>
    <p class="mb-auto">Studies have shown that speakers of tonal languages, like Mandarin and Cantonese, were better at identifying musical pitches than speakers of non-tonal languages like English and French.</p>

    <p class="mb-auto">In tonal languages a word can have different meanings depending on the pitch and inflection of the voice. What happens if you don’t pay attention to the tone in Chinese? Say “ma” with a high level tone, and you’ve said "mother". Say it with a falling then rising tone, and you’ve said "horse". Best not to get the two words mixed up.</p>


    <h3 class="text-info">10. It boosts career opportunities</h3>
    <p class="mb-auto">Language education is critical for the workforce of the future and being bilingual can broaden career options. Many jobs in education, healthcare, social work, national security, translation, tourism, and international business require or favor candidates who are bilingual, resulting in more job opportunities for those who can speak a second language. And speaking a foreign language can make it easier to be eligible for jobs, internships and work-study programs in other countries – especially if you have critical skills.</p>


    <h3 class="text-info">11. It boosts salaries</h3>
    <p class="mb-auto">MIT economist Albert Saiz, calculated that there is a 2% salary premium for American college graduates who can speak a second language versus those who can’t. The salary boost varies by language – for those who can speak German it is 3.8%. With compounding, this can turn into over $100,000 over the course of a career. Not bad!</p>


    <h3 class="text-info">12. It makes travel more fun</h3>
    <p class="mb-auto">International travel is an amazing way to broaden children’s perspectives and help them experience the diversity and beauty of the world first hand. Being able to speak the language of the country they’re visiting unlocks the possibility of deeper connections and understanding. And most foreigners will appreciate the effort your children are making even if they aren’t fluent yet. Putting their language skills to use in “real life” can also be a motivation booster for kids.</p>

    <p class="mb-auto">There’s something very special about watching children use their language skills to develop cross-cultural friendships. Whether it’s putting their Spanish to use on a beach in Mexico to build sandcastles with new-found friends, or talking to locals in Mandarin while riding the train from Beijing to Shanghai – speaking the language allows access to experiences they wouldn’t otherwise have – and builds memories for life. Learning a foreign language as a child gives them a lifetime to benefit from more enriching travel experiences.</p>

    <p class="mb-auto">For high school and university students, studying abroad can be a great way to deepen foreign language skills. The US State Department even offers some scholarships.</p>

    <p class="mb-auto">Which languages offers the most mileage when it comes to travel? After English, Arabic, French, Chinese and Spanish are spoken in the most countries. Of course, travelers don’t need to speak the language of every country they visit, but being fluent in a second language makes it easier to pick up other languages. Even knowing basics like hello, please and thank you can go a long way to make a trip more magical.</p>


    <h3 class="text-info">13. It can connect kids to their heritage</h3>
    <p class="mb-auto">A big reason many parents want their children to learn a foreign language is so they can speak to family members in their native tongue. Not only can learning the language improve communication, it comes along with a great deal of cultural insight that can help children appreciate their family’s perspective.</p>

    <p class="mb-auto">While many parents aspire for relatives to help teach children their native language, it turns out that can be a challenge. As kids get older they often learn they can get away with speaking English, and relatives often prioritize understanding over teaching. As a result heritage language learners’ language level will often plateau unless they also receive formal education in the language.</p>

    <p class="mb-auto">The distinct needs and opportunities for heritage language learners has been a hot topic for language education researchers lately, with many studies showing the effectiveness of dual language immersion programs. Being a heritage language learner is a great opportunity, and language classes tailored to their needs can help them reach full fluency.</p>


    <h3 class="text-info">14. It can increase out of the box thinking</h3>
    <p class="mb-auto">Much has been written about how many jobs in the future will be automated – with tasks requiring ingenuity and creativity being left to humans. How then to build creative thinking skills in children? One of the surprising ways is by learning a second language. Several studies have demonstrated greater creativity and problem solving skills amongst bilinguals.</p>

    <p class="mb-auto">Learning a foreign language helps children see the world through different lenses. The ability to consider multiple viewpoints to a problem is a cornerstone of creative problem solving.</p>


    <h3 class="text-info">15. It’s fun!</h3>
    <p class="mb-auto">Sure, there’s a joy that comes from being able to speak to others in their native language – not to mention a sense of achievement. But part of the fun of learning a foreign language is discovering differences in how people look at the world. It’s fun to think about why dogs say "woof" in English, "wang wang" in Mandarin and "guau" in Spanish. What’s the right word? The dogs aren’t saying.</p>

    <p class="mb-auto">It’s also fun to discover words in a foreign language that don't exist in your native tongue. Take the Tagalog word, "gigil", which means “the irresistible urge to pinch/squeeze someone because they are loved or cherished.” Shouldn’t every language should have that word?</p>
  </div>
</div>

{% endblock %}
